.background-cover {
    width: 100%;
    height: 100%;
    background-color: #0000009c;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
}

.dialog-box {
    margin: auto;
    min-width: 400px;
    width: 30%;
    color: var(--color-text);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dialog-input {
    padding: 0 2rem;
}

.dialog-close {
    align-self: flex-end;
    padding: 0.5rem 0.75rem;

    &:hover {
        background-color: #B00020;
        cursor: pointer;
    }
}

.dialog-text {
    margin: 0.5rem 1.5rem 0.25rem 1.5rem;
}

.dialog-buttons {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;

    & button {
        margin-right: 20px;
        flex-grow: 1;
    }

    & :last-child {
        margin-right: 0;
        flex-grow: 1;
    }
}