.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 75, 75);
    text-align: center;
    cursor: pointer;
    margin: 10px;
    border: 4px solid var(--color-accent);
    padding: 10px;
    text-decoration: none;
    font-size: var(--font-size-default);
    color: var(--color-text);

    &:hover {
        background-color: rgb(59, 59, 59);
    }
}

.card-add {
    font-size: 6rem;
    font-weight: bolder;
}